.loader {
  -webkit-animation: rotate 2s linear infinite normal;
  animation: rotate 2s linear infinite normal;
  height: 0.75rem;
  position: relative;
  width: 0.75rem;
}
.loader__ball {
  -webkit-animation: move1 1s ease-in-out infinite alternate;
  animation: move1 1s ease-in-out infinite alternate;
  background-color: #fff;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  width: 100%;
}
.loader__ball:nth-of-type(2) {
  -webkit-animation-name: move2;
  animation-name: move2;
}
.loader__ball:nth-of-type(3) {
  -webkit-animation-name: move3;
  animation-name: move3;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes move1 {
  0%,
  5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
@keyframes move1 {
  0%,
  5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
@-webkit-keyframes move2 {
  0%,
  5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
}
@keyframes move2 {
  0%,
  5% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(100%, 100%);
    transform: translate(100%, 100%);
  }
}
@-webkit-keyframes move3 {
  0%,
  15% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
  }
}
@keyframes move3 {
  0%,
  15% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  to {
    -webkit-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%);
  }
}
